 .projectp {
   font-size:20px;
   text-align:center;
   padding-top:25px;
   padding-bottom:25px;
}

img {
   padding-top:25px;
   padding-bottom:25px;
}

div {
    background-color: #282B28;
    font-family: Menlo, monospace;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.topbottom {
    background-color: #282B28;
    font-size:40px;
    color:#834120;
    position:fixed;
}
