    .projectp {
   color:#D3D4D9;
   font-size:20px;
   text-align:center;
   padding-top:25px;
   padding-bottom:25px;
}

img {
   padding-top:25px;
   padding-bottom:25px;
}

div {
    background-color: #282B28;
    font-family: Menlo, monospace;
}

.column {
  float: left;
  width: 45%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.topbottom {
    background-color: #282B28;
    font-size:40px;
    color:#D3784A;
    position:fixed;
}

.menuButton {
    width:60px;
    height:50px;
    float:right;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 92%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #D3D4D9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #282B28;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #D3784A;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

img {

  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
