.projectp {
   color:#D3D4D9;
   font-size:20px;
   text-align:center;
   padding-top:25px;
   padding-bottom:25px;
}

img {
   padding-top:25px;
   padding-bottom:25px;
}

div {
    background-color: #282B28;
    font-family: Menlo, monospace;
}

.column {
  float: left;
  width: 45%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.topbottom {
    background-color: #282B28;
    font-size:40px;
    color:#D3784A;
    position:fixed;
}

.menuButton {
    width:60px;
    height:50px;
    float:right;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 95%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
